<%- include('./partials/header'); -%>

<link rel="stylesheet" href="css/sell.css" />
<section class="container-sell">
  <% try { %> <% if (inform !== '') { %>
  <div class="infor"><p><%= inform %></p></div>
  <% } %> <% }catch (e) {} %>
  <div class="title">
    <h1>Edite o cardápio</h1>
  </div>
  <form class="form-wrapper" action="/editar/<%= cardapio._id %>" method="post">
    <!-- AQUI FICAR A SELEÇÃO DA DATA -->
    <div class="wt-h mg-b product">
      <label class="form-label" for="data"><span>Data:</span></label>
      <input
        class="form-control wt-h"
        id="data"
        name="data"
        type="date"
        required
        autocomplete="off"
        value="<%= cardapio.data %>"
      />
    </div>
    <!-- AQUI FICAR A SELEÇAÕ DO REFEIÇAÕ (AMOÇO)-->
    <div class="mg-b">
      <div class="wt-h product">
        <label class="form-label" for="amoço">Refeição:</label>
        <select class="form-select" name="refeicao1" id="amoço" required>
          <option value="ALMOÇO">Almoço</option>
          <option value="JANTAR">Jantar</option>
        </select>
      </div>
    </div>
    <div class="wt-h mg-b product">
      <label class="form-label" for="title"><span>Prato:</span></label>
      <input
        class="form-control wt-h"
        id="title"
        name="nomeDaRefeiAmo"
        type="text"
        required
        autocomplete="off"
        value="<%= cardapio.amoco.nomeDaRefei %>"
      />
    </div>
    <!-- GUARNIÇÃO -->
    <h2 class="mg-t">Guarnição:</h2>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="amo1"
        type="text"
        placeholder="ex: arroz"
        required
        autocomplete="off"
        value="<%= cardapio.amoco.ingredintes.amo1 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="amo2"
        type="text"
        placeholder="ex: arroz"
        required
        autocomplete="off"
        value="<%= cardapio.amoco.ingredintes.amo2 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="amo3"
        type="text"
        placeholder="ex: banana"
        autocomplete="off"
        value="<%= cardapio.amoco.ingredintes.amo3 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="amo4"
        type="text"
        placeholder="ex: feijão"
        autocomplete="off"
        value="<%= cardapio.amoco.ingredintes.amo4 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="amo5"
        type="text"
        placeholder="ex: salada"
        autocomplete="off"
        value="<%= cardapio.amoco.ingredintes.amo5 %>"
      />
    </div>
    <h2 class="mg-t">Vegetariano:</h2>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="vegetariano1"
        type="text"
        placeholder="ex: salada"
        autocomplete="off"
        value="<%= cardapio.amoco.vegetariano1 %>"
      />
    </div>

    <hr
      style="height: 0.25rem; background-color: #000; margin: 1rem 0 1rem 0"
    />

    <!-- AQUI FICAR A SELEÇAÕ DO REFEIÇAÕ (JANTAR)-->
    <div class="mg-b">
      <div class="wt-h product">
        <label class="form-label" for="category">Refeição:</label>
        <select class="form-select" name="refeicao2" id="category" required>
          <option value="JANTAR">Jantar</option>
          <option value="ALMOÇO">Almoço</option>
        </select>
      </div>
    </div>
    <div class="wt-h mg-b product">
      <label class="form-label" for="title"
        ><span>Nome da Refeição:</span></label
      >
      <input
        class="form-control wt-h"
        id="title"
        name="nomeDaRefeiJan"
        type="text"
        required
        autocomplete="off"
        value="<%= cardapio.jantar.nomeDaRefei %>"
      />
    </div>
    <h2 class="mg-t">Guarnição:</h2>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="jan1"
        type="text"
        placeholder="ex: arroz"
        required
        autocomplete="off"
        value="<%= cardapio.jantar.ingredintes.jan1 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="jan2"
        type="text"
        placeholder="ex: arroz"
        required
        autocomplete="off"
        value="<%= cardapio.jantar.ingredintes.jan2 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="jan3"
        type="text"
        placeholder="ex: banana"
        autocomplete="off"
        value="<%= cardapio.jantar.ingredintes.jan3 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="jan4"
        type="text"
        placeholder="ex: feijão"
        autocomplete="off"
        value="<%= cardapio.jantar.ingredintes.jan5 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="jan5"
        type="text"
        placeholder="ex: salada"
        autocomplete="off"
        value="<%= cardapio.jantar.ingredintes.jan5 %>"
      />
    </div>
    <h2 class="mg-t">Vegetariano:</h2>
    <div class="wt-h mg-b product">
      <input
        class="form-control wt-h"
        id="amo"
        name="vegetariano2"
        type="text"
        placeholder="ex: salada"
        autocomplete="off"
        value="<%= cardapio.jantar.vegetariano2 %>"
      />
    </div>
    <div class="wt-h mg-b product">
      <button class="btn wt-h" type="submit">Atualizar</button>
    </div>
  </form>
</section>

<script defer src="js/seller.js"></script>
<%- include('./partials/footer'); %>
